extends layout

block content
  h1= title
  h2 Users
  ul
    each user in users
      li
        p ID: #{user.id}
        p Google ID: #{user.googleId}
        p Name: #{user.name}
        p Email: #{user.email}
        p Refresh Token: #{user.refreshToken}
        h3 Actions
        ul
          li: a(href='/admin/users/#{user.id}/process') Process
          li: a(href='/admin/users/#{user.id}/remove') Remove user
